In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# Load the dataset
data = pd.read_csv('top contributing organization.csv')

In [3]:
data.head(4)

,id,entityType,ein,entityManager,totalUsdcGrantedOut,totalUsdcTransferredOut
0,0x244064a29c0a18dfbc387a9aebc76d425a59aa07,Fund,NaN,0x5755f00aa02a07ac8a0727ac09042e6750759e1a,5694949042200,0
1,0x8fa2d80045c00cff6d83189c978c879da80e4e06,Fund,NaN,0x2c4b47668ea298ef4ef98956774ea590e130cefa,941999949000,100000000
2,0x14dc37374aff6e1748451a5ab7f01d865b98214a,Fund,NaN,0x3e5f2a9c096499c1e90eef78790ad604a8619d88,786134655900,25000000000
3,0x6feefb18cd412a2a57a5f370d127b48510e472a7,Fund,NaN,0xbe21e4cf884c8b2517e4e199487f8b505841cb36,329355090900,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       100 non-null    object
 1   entityType               100 non-null    object
 2   ein                      33 non-null     object
 3   entityManager            100 non-null    object
 4   totalUsdcGrantedOut      100 non-null    int64
 5   totalUsdcTransferredOut  100 non-null    int64
dtypes: int64(2), object(4)
memory usage: 4.8+ KB

In [5]:
# Define a function to check if input is human readable
def is_human_readable(s):
    return bool(re.match('^[a-zA-Z0-9\s]*$', s))

In [6]:
data.shape

(100, 6)

In [7]:
data.head(3)

,id,entityType,ein,entityManager,totalUsdcGrantedOut,totalUsdcTransferredOut
0,0x244064a29c0a18dfbc387a9aebc76d425a59aa07,Fund,NaN,0x5755f00aa02a07ac8a0727ac09042e6750759e1a,5694949042200,0
1,0x8fa2d80045c00cff6d83189c978c879da80e4e06,Fund,NaN,0x2c4b47668ea298ef4ef98956774ea590e130cefa,941999949000,100000000
2,0x14dc37374aff6e1748451a5ab7f01d865b98214a,Fund,NaN,0x3e5f2a9c096499c1e90eef78790ad604a8619d88,786134655900,25000000000

In [12]:
data.to_csv('data.csv', index=False)